<label for="user">Username: </label><input id="user" type="text" ng-model="username"/>
<div style="margin-top:10px;"><label for="recording" style="margin-right:10px;">Click to begin recording:</label> <input id="recording" type="checkbox" ng-model="recording"/></div>
<div class="content">
    <div class="ranks">
        <div class="rank {{rank1color}}">{{rank1}}</div>
        <div class="rank {{rank2color}}">{{rank2}}</div>
    </div>
    <div class="suits">
        <div class="suit"><div class="{{suit1}} innersuit"></div></div>
        <div class="suit"><div class="{{suit2}} innersuit"></div></div>
    </div>
</div>
